# MarkFlow connection
MARKFLOW_URL=http://host.docker.internal:8000
MARKFLOW_LOGS_PATH=../Doc-Conversion-2026/logs

# Grafana
GRAFANA_PORT=3000
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=changeme

# Prometheus
PROMETHEUS_PORT=9090

# Loki
LOKI_PORT=3100

# Blackbox Exporter
BLACKBOX_PORT=9115

# MarkFlow Exporter
EXPORTER_PORT=9101
